

.add-reservation{
    position: absolute;
    right: 15px;
    font-size: 27px;
    color: #317becb3;
    cursor: pointer;
}

.input-custom-container{
    margin-bottom: 10px;
}

.select-input{
    height: 250px;
}